<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="RobotTX40System">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find tx40_controller)/config/tx40_controllers.yaml</parameters>
            <update_rate>10000</update_rate>
        </plugin>
    </gazebo>
</robot>

    <!--<xacro:macro name="default_transmission" params="joint">
        <transmission name="transmission_${joint}">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <actuator name="motor_${joint}" role="actuator1"/>
            <joint name="joint_${joint}" role="joint_1">
                <mechanical_reduction>1.0</mechanical_reduction>
            </joint>
        </transmission>
    </xacro:macro> -->

    <!-- Camera sensor
    <gazebo reference="rgb_camera">
        <sensor type="camera" name="rgb_camera">
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
            <camera name="rgb_camera">
                <horizontal_fov>1.15</horizontal_fov>
                <vertical_fov>0.71</vertical_fov>
                <image>
                    <width>2304</width>
                    <height>1296</height>
                    <format>R8G8B8</format>
                </image>
                <distortion>
                    <k1>0.0</k1>
                    <k2>0.0</k2>
                    <k3>0.0</k3>
                    <p1>0.0</p1>
                    <p2>0.0</p2>
                    <center>0.5 0.5</center>
                </distortion>
            </camera>
            <plugin name="gazebo_camera" filename="libgazebo_ros_camera.so">
                <ros>
                    <remapping>~/image_raw:=image_raw</remapping>
                    <remapping>~/camera_info:=camera_info</remapping>
                </ros>
                <camera_name>rgb_camera</camera_name>
                <frame_name>rgb_camera</frame_name>
                <hack_baseline>0.2</hack_baseline>
            </plugin>
        </sensor>
      </gazebo> -->

    <!-- Ros2 control
    <gazebo> 
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control_node">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters> $(find tx40_controller)/config/tx40_controllers.yaml</parameters>
        </plugin>
    </gazebo> -->

    <!-- Transmissions
    <xacro:default_transmission joint="1"/>
    <xacro:default_transmission joint="2"/>
    <xacro:default_transmission joint="3"/>
    <xacro:default_transmission joint="4"/>
    <xacro:default_transmission joint="5"/>
    <xacro:default_transmission joint="6"/> -->